/* Font family */
/* couleur basic */
/* couleur de fond hearder dans localisation */
/* couleur des boutons fonctionnement */
/* couleur bagde */
/* couleur gris du footer */
/* GENERALE */
h1 {
  font-family: "shrikhand";
}

h2 {
  font-family: "shrikhand";
}

h3 {
  font-weight: 900;
}

h4 {
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 5px;
}

h5 {
  font-weight: 100;
  font-size: 1rem;
  line-height: 0.1rem;
}

p {
  font-weight: 100;
  margin: 0.3rem;
}

hr {
  text-align: left;
  background-color: #99e2d0;
  border: none;
  left: auto;
  margin-top: -15px;
  height: 4px;
  width: 10%;
}

body {
  font-family: "roboto", sans-serif;
  font-weight: 100;
  margin: 0;
  padding: 0;
  position: relative;
}

nav {
  background-color: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;
  position: sticky;
  text-align: center;
  top: 0;
  z-index: 1;
}

.fas {
  font-size: 23px;
}

/* SPINNER */
.spinner {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  background-color: #ffffff;
  z-index: 99;
  align-items: center;
  justify-content: center;
  animation: spinner 500ms;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

@keyframes spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
.spinner span {
  display: block;
  width: 20px;
  height: 20px;
  background: #ebebeb;
  border-radius: 50%;
  margin: 0 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.spinner span:nth-child(2) {
  background: #9356DC;
}

.spinner span:nth-child(3) {
  background: #FF79DA;
}

.spinner span:nth-child(4) {
  background: #99E2D0;
}

.spinner span:not(:last-child) {
  animation: animate 1.5s linear infinite;
}

@keyframes animate {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(30px);
  }
}
.spinner span:last-child {
  animation: jump 1.5s ease-in-out infinite;
}

@keyframes jump {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(10px, -10px);
  }
  20% {
    transform: translate(20px, 10px);
  }
  30% {
    transform: translate(30px, -50px);
  }
  70% {
    transform: translate(-150px, -50px);
  }
  80% {
    transform: translate(-140px, 10px);
  }
  90% {
    transform: translate(-130px, -10px);
  }
  100% {
    transform: translate(-120px, 0);
  }
}
.localisation {
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  background-color: #eaeaea;
  padding: 0;
}

.localisation_icone {
  margin-right: 10px;
}

.reservation {
  background-color: #f6f6f6;
  text-align: center;
  margin: 0;
  padding: 20px 10px 20px 10px;
}

.number_icone {
  align-items: center;
  background-color: #9356DC;
  border-radius: 50px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  margin: 20px 20px 20px -30px;
  padding: 5px;
  width: 1.2rem;
  height: 1.2rem;
}

.fonctionnement {
  margin: 0 30px 0 30px;
}

.fonctionnement_icone {
  color: #7e7e7e;
  margin-right: 10px;
}

.fonctionnement_icone:hover {
  color: #9356DC;
}

.restaurant {
  background-color: #eaeaea;
  padding: 30px;
}

@media all and (min-width: 1280px) {
  .content {
    max-width: 1280px;
    margin: 0 auto;
    /* padding: 0 40px 0 40px;*/
    align-content: center;
  }

  .button__fonctionnement--section {
    display: flex;
    align-items: center;
    align-content: space-around;
    margin: 0 -15px;
  }

  .card__restaurant--composition {
    width: 330px;
  }

  .logo__ohmyfood--blanc {
    width: 20%;
  }
}
@media all and (min-width: 768px) {
  .content {
    max-width: 768px;
    margin: 0 auto;
    align-content: center;
  }

  .button__fonctionnement--section {
    display: flex;
    align-items: center;
    align-content: space-around;
    margin: 0 -15px;
  }

  .card__restaurant {
    display: flex;
    justify-content: space-between;
  }

  .logo__ohmyfood--blanc {
    width: 20%;
  }
}
/* Mobile.css
---------
*/
@media all and (max-width: 767.5px) {
  .logo_ohmyfood {
    /* align-content: center;
     background-color: #fff;
     padding: 20px;*/
  }

  /*
      .localisation {
          text-align: center;
          display: flex;
          background-color: #eaeaea;
          padding: 5px;
          margin-top: 4px;
      }*/
}
button {
  border-radius: 30px;
  font-size: 1rem;
  padding: 0px 20px 0 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.125);
}

.button_explorer {
  background-color: #656565;
  background-image: linear-gradient(150deg, rgba(255, 121, 218, 0.9), rgba(147, 86, 220, 0.9));
  border: none;
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
}
.button_explorer:hover {
  background-color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.button_fonctionnement {
  align-items: center;
  display: flex;
  background-color: #eaeaea;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.125);
  text-align: center;
  margin: 0 0 20px 0;
  width: 100%;
  cursor: pointer;
}
.button_fonctionnement:hover {
  background-color: #f5edff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: 1s;
}

@media all and (min-width: 768px) {
  .button_fonctionnement {
    margin: 0 0 20px 20px;
  }
}
/*MENU*/
.button__center {
  text-align: center;
}

.button__center--commander {
  background-color: #656565;
  background-image: linear-gradient(150deg, rgba(255, 121, 218, 0.9), rgba(147, 86, 220, 0.9));
  border: none;
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
}
.button__center--commander:hover {
  background-color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* ANIMATION COEURS */
/* test */
/*
.fa-heart:hover::before {
    font-weight: bold;
    background: linear-gradient(190deg, #9356DC, #FF79DA);
    background-clip: text;
    color: transparent;
  }
  .fa-heart::before {
    transition: color 600ms;
  }
*/
/* autre test */
/*
.heart__icon {
    position:relative;
}

.heart__icon i {
    position: absolute;
    top: -1rem;
    left: -2rem;
    font-size: 2rem;
}

.heart__icon .fa-heart::before {
    transform: scale(0);
    transition: 0.5s;
  }

  .heart__icon .fa-heart:hover::before {
    font-weight: bold;
    background: linear-gradient(190deg, #9356DC, #FF79DA);
    background-clip: text;
    color: transparent;
    transform: scale(1.1);  
  }

*/
.heart__icon {
  position: relative;
}

.heart__icon i {
  position: absolute;
  top: -1rem;
  left: -1rem;
  font-size: 2rem;
}

.heart__icon .heart-fill {
  transform: scale(0);
  transition: 0.5s;
  color: #a375d9;
}

.heart__icon:hover .heart-fill {
  transform: scale(1.1);
}

/* CARD DES MENUS*/
.card {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  opacity: 0;
  padding: 0 0 0 10px;
  margin: 20px 0 20px 0;
  transition: 1.2s;
  transition-delay: 0.3s;
  transition: all 1.5s;
  animation: card-menu-appear 1s forwards;
}
.card .card__animation {
  background-color: #99e2d0;
}
.card .card_select i {
  color: #ffffff;
  font-size: 1.5rem;
  transition: 0.5s;
}
.card:hover .card__animation {
  width: 80px;
}
.card:hover .card_select i {
  transform: rotate(360deg);
}
.card:nth-child(3) {
  animation-delay: 300ms;
}
.card:nth-child(4) {
  animation-delay: 600ms;
}

.card_text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px;
  min-width: 0;
}
.card_text p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card_prix {
  align-items: center;
  display: flex;
  padding-right: 1rem;
  position: relative;
}

.card__animation {
  align-items: center;
  border-radius: 0 15px 15px 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
  transition: 0.5s;
  width: 0;
}

@keyframes card-menu-appear {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
  }
}
@media all and (min-width: 1280px) {
  .section__menus {
    display: flex;
    justify-content: space-between;
  }

  .card {
    width: 400px;
  }
}
/*CARD DE LA HOME PAGE*/
.card__home {
  cursor: pointer;
  color: #000000;
  width: 49%;
}
.card__home:hover {
  color: #7e7e7e;
}

.card__restaurant--composition {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.125);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.card__restaurant--composition img {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0 0;
}
.card__restaurant--composition:hover {
  background-color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.bagde_nouveau {
  background-color: #99e2d0;
  border-radius: 3px;
  color: #008766;
  top: 12px;
  right: 10px;
  padding: 5px;
  position: absolute;
}

.restaurant_bottom {
  align-items: center;
  display: flex;
  padding: 0 20px 0 20px;
  height: 80px;
}

.restaurant_icone {
  align-items: center;
  font-size: 1.5rem;
  margin-left: auto;
  margin-right: 15px;
}

@media all and (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-between;
  }
}
.footer_ohmyfood {
  background-color: #353535;
  color: #ffffff;
  padding: 20px;
}

.logo__ohmyfood--title {
  margin: 10px 0 30px 0;
}

.footer__element {
  align-items: center;
  display: flex;
  line-height: 2rem;
  /*padding-left: 20px;*/
}

.footer_icone {
  padding-right: 10px;
}

a {
  cursor: pointer;
  color: #ffffff;
  line-height: normal;
  text-decoration: none;
}
a:hover {
  color: #7e7e7e;
}

/*PAGE MENU*/
.nav {
  align-items: center;
  display: flex;
}

.nav__return {
  margin: 0 50px 0 10px;
  font-size: 1.5rem;
  cursor: pointer;
  color: #353535;
}

.cover_menu {
  height: 12rem;
  width: 100%;
}

.cover_menu img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

.menu {
  background-color: #eaeaea;
  border-radius: 40px 40px 0 0;
  padding: 10px 20px 20px 20px;
  margin-top: -30px;
}

.menu__title {
  align-items: center;
  display: flex;
  margin-top: 10px;
}
.menu__title .menu__title--heart {
  cursor: pointer;
  position: absolute;
  right: 30px;
  font-size: 1.5rem;
}

.title {
  margin-top: 40px;
}

.titre_underline {
  width: 2.5rem;
  border-top: 3px solid #99e2d0;
  margin: -0.5rem 0 0 0;
}

/*# sourceMappingURL=style.css.map */
