.footer_ohmyfood {
    background-color: $gris_footer;
    color: $white;
    padding: 20px;
}

.logo__ohmyfood--blanc {
    width: auto;
    margin: 10px 0 30px 0;
}

.footer__element {
    align-items: center;
    display: flex;
    line-height: 2rem;
    /*padding-left: 20px;*/
}

.footer_icone {
    padding-right: 10px;
}

a {     
    cursor: pointer;
    color: $white;
    line-height: normal;
    text-decoration: none;   

        &:hover {
        color: $gris_buttons_icone;
        }
}