//blocs BEM qui sont plus indépendants, comme les boutons

button {
    border-radius: 30px;
    font-size: 1rem;
    padding: 0px 20px 0 20px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.125);
}

.button_explorer {
    background: linear-gradient(150deg, $rose_buttons, $violet_number_icone);
    border: none;
    color: #fff;
    cursor: pointer;

    &:hover {
        background: linear-gradient(150deg, $rose_light, $violet_light);
        box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
        transition: 0,5s;
    }
}

.button_fonctionnement {
    align-items: center;
    display: flex;
    background-color: $gris_buttons;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.125);
    text-align: center;
    margin: 0 0 20px 0;
    width: 100%;
    cursor: pointer;

    &:hover {
        background-color: $violet_hover_buttons;
        box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
        transition: 1s;
    }
}

/*MENU*/

.button_commander {
    align-items: center;
    background: linear-gradient(150deg, $rose_buttons, $violet_number_icone);
    border: none;
    color: #fff;
    cursor: pointer;

    &:hover {
        background: linear-gradient(150deg, $rose_light, $violet_light);
        box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
        transition: 0,5s;
    }
}