//blocs BEM qui sont plus indépendants, comme les boutons

button {
    border-radius: 30px;
    font-size: 1rem;
    padding: 0px 20px 0 20px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.125);
}

.button_explorer {
    background-color: #656565;
    background-image: linear-gradient(150deg, $rose_buttons_alpha, $violet_buttons_alpha);
    border: none;
    color: #fff;
    transition: 0.5s;
    cursor: pointer;

    &:hover {
        background-color: white;
        box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    }
}

.button_fonctionnement {
    align-items: center;
    display: flex;
    background-color: $gris_buttons;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.125);
    text-align: center;
    margin: 0 20px 20px 0;
    width: 100%;
    cursor: pointer;

    &:hover {
        background-color: $violet_hover_buttons;
        box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
        transition: 1s;
    }
}

/*MENU*/

.button__center {
    text-align: center;
}

.button__center--commander {
    background-color: #656565;
    background-image: linear-gradient(150deg, $rose_buttons_alpha, $violet_buttons_alpha);
    border: none;
    color: #fff;
    transition: 0.5s;
    cursor: pointer;

    &:hover {
        background-color: white;
        box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    }
}

/* ANIMATION COEURS */

.heart__icon {
    position:relative;
}

.heart__icon i {
    position: absolute;
    top: -1rem;
    left: -2rem;
    font-size: 2rem;
}

.heart__icon .heart-fill {
    transform: scale(0);
    transition: 0.5s;
    color: $violet_light;
   
}

.heart__icon:hover .heart-fill {
    transform: scale(1.1);
}