//la police de caractères et les normes que vous voulez appliquer sur tout votre site, telles que le box-sizing ;

/* GENERALE */
h1 {
    font-family: $font_family2;
}

h2 {
    font-family: $font_family2;
}

h3 {
    font-weight: 900;
}

h4 {
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 5px;
}

h5 {
    font-weight: 100;
    font-size: 1rem;
    line-height: 0.1rem;

}

p {
    font-weight: 100;
    margin: 0.3rem;

}

hr {
    text-align: left;
    background-color: $vert_badge_fond;
    border: none;
    left: auto;
    margin-top: -15px;
    height: 4px;
    width: 10%;
}

body {
    font-family: $font_family;
    font-weight: 100;
    margin: 0;
    padding: 0;
    position: relative;
}

nav {
    background-color: $white;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    padding: 20px;
    position: sticky;
    text-align: center;
    top: 0;
    z-index: 1;
}
.fas {
    font-size: 23px;
}


/* SPINNER */

.spinner {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    background-color: #ffffff;
    z-index: 99;
    align-items: center;
    justify-content: center;
    animation: spinner 500ms;
    animation-delay: 3s;
    animation-fill-mode: forwards;
  }
  
  @keyframes spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      z-index: -1;
    }
  }
  .spinner span {
    display: block;
    width: 20px;
    height: 20px;
    background: #ebebeb;
    border-radius: 50%;
    margin: 0 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  }
  
  .spinner span:nth-child(2) {
    background: #9356DC;
  }
  
  .spinner span:nth-child(3) {
    background: #FF79DA;
  }
  
  .spinner span:nth-child(4) {
    background: #99E2D0;
  }
  
  .spinner span:not(:last-child) {
    animation: animate 1.5s linear infinite;
  }
  
  @keyframes animate {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(30px);
    }
  }
  .spinner span:last-child {
    animation: jump 1.5s ease-in-out infinite;
  }
  
  @keyframes jump {
    0% {
      transform: translate(0, 0);
    }
    10% {
      transform: translate(10px, -10px);
    }
    20% {
      transform: translate(20px, 10px);
    }
    30% {
      transform: translate(30px, -50px);
    }
    70% {
      transform: translate(-150px, -50px);
    }
    80% {
      transform: translate(-140px, 10px);
    }
    90% {
      transform: translate(-130px, -10px);
    }
    100% {
      transform: translate(-120px, 0);
    }
  }

  


.localisation {
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    background-color: $gris_background;
    padding: 0;
}

.localisation_icone {
    margin-right: 10px;
}

.localisation_text {
  font-family: $font_family;
  font-weight: 400;
}

.reservation {
    background-color: #f6f6f6;
    text-align: center;
    margin: 0;
    padding: 20px 10px 20px 10px;
}

.number_icone {
    align-items: center;
    background-color: $violet_number_icone;
    border-radius: 50px;
    color: $white;
    display: flex;
    justify-content: center;
    margin: 20px 20px 20px -10px;
    padding: 5px;
    width: 1.2rem;
    height: 1.2rem;
}

.fonctionnement {
    margin: 0 30px 0 30px
}

.fonctionnement_icone {
    color: $gris_buttons_icone;
    margin-right: 10px;
}

.fonctionnement_icone:hover {
    color: $violet_number_icone
}

.restaurant {
    background-color: $gris_background;
    padding: 30px;
}



@media all and (min-width: 1280px)
 {
     .content {
        max-width: 1280px;
        margin: 0 auto;
       /* padding: 0 40px 0 40px;*/
        align-content: center;
     }

     .button__fonctionnement--section {
         display: flex;
         align-items: center;
         align-content: space-around;
         margin: 0 -15px;
    }

    .card__restaurant--composition {
        width: 330px;
    }

    .logo__ohmyfood--blanc {
        width: 20%;
    }
 }

 @media all and (min-width:768px) {
    .content {
        max-width: 768px;
        margin: 0 auto;
        align-content: center;
     }

     .button__fonctionnement--section {
         display: flex;
         align-items: center;
         align-content: space-around;
         margin: 0 -15px;
    }

    .card__restaurant {
        display: flex;
        justify-content: space-between;
    }

    .logo__ohmyfood--blanc {
        width: 20%;
    }
}