//vos variables, fonctions, mixins et les  %placeholders pour les extensions (si vous en utilisez)

/* Font family */
$font_family: 'roboto', sans-serif;
$font_family2: 'shrikhand';


/* couleur de fond hearder dans localisation */

$gris_background: #eaeaea;

/* couleur des boutons fonctionnement */


$violet_number_icone: #9356DC;
$violet_buttons_alpha: rgba(147,86,220,0.9);
$rose_buttons: #FF79DA;
$rose_buttons_alpha: rgba(255,121,218,0.9);
$gris_buttons: $gris_background;
$gris_buttons_icone: #7e7e7e;
$violet_hover_buttons: #f5edff;

$rose_light: #ffa2e5;
$violet_light: #a375d9;

/* couleur bagde */

$vert_badge_fond: #99e2d0;
$vert_bagde_text: #008766;

/* couleur gris du footer */

$gris_footer: #353535;